:host {
  display: grid;
  grid-template-rows: 70px 1fr 90px;
  height: 100vh;
  background-color: #0b0b0b;
  color: #fff;
}

.app-shell {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 20px;
  padding: 16px;
  overflow: hidden;
  min-height: 0;
  height: 100%;
  box-sizing: border-box;
}

app-sidebar,
app-mainbar {
  min-height: 0;
}
